/* Popup styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-overlay p {
    font-family: Arial, sans-serif;
}

.popup-overlay p em {
    font-family: Arial, sans-serif;
    font-weight: 700;
}

.popup-content {
    background-color: #A98331;
    padding: 5px;
    border-radius: 14px;
    max-width: 80vw; 
    max-height: 90vh; 
    width: 100%; 
    height: auto; 
    overflow-y: auto; 
    position: relative;
    color: white;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.popup-movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5px;
}

.popup-movie-poster {
    max-width: 100%;
    border-radius: 7px;
}

.popup-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.popup-button {
    padding: 8px 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #ff4500;
    color: white;
    transition: background-color 0.2s ease;
}

.popup-button:hover {
    background-color: #ff5722;
}


/* Custom scrollbar styling */
.popup-content::-webkit-scrollbar {
    width: 8px;
}

.popup-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 14px;
}

.popup-content::-webkit-scrollbar-thumb {
    background-color: #2c0c0025;
    outline: none;
    border-radius: 10px;
}